.footer {
  background-color: $orange-color;
  color: $white-color;

  .footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0 120px 0;

    .footer__menu {
      display: flex;
      gap: 200px;

      .footer__menu--list {
        p {
          font-size: 24px;
          font-weight: 500;
          padding-bottom: 42px;
        }

        ul {
          li {
            a {
              font-size: 32px;
              font-weight: 500;
              color: $white-color;
            }
            &:not(:last-child) {
              padding-bottom: 24px;
            }
          }
        }
      }
    }
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
  }
}

/* 1369 - 1600 px */
@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1368px) {}


@media screen and (max-width: 768px) {}

@media screen and (max-width:480px) {}