// Main color
// $default-color           : #323232;
// $orange-color            : #F44920;
// $grey-color              : #F7F7F7;
// $white-color             : #ffffff;

.header {
  min-height: 720px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: rem(20);
  z-index: 99;

  .header__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .header__right {
      display: flex;
      align-items: center;

      .header-menu__ul {
        display: flex;
        gap: 60px;
        margin-right: rem(60);

        li {
          a {
            color: $white-color;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }

      .header__social {
        display: flex;
        gap: 20px;
      }
    }
  }
}



.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, .575);
}

.overlay_active {
  display: block;
}

.locked {
  overflow: hidden;
}

@media screen and (max-width: 1368px) {}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 768px) {
  .header {
    min-height: 740px;

    .header__menu {

      .header__logo {
        img {
          width: 98px;
        }
      }

      .header__right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 480px) {}