// Main color
// $default-color           : #323232;
// $orange-color            : #F44920;
// $grey-color              : #F7F7F7;
// $white-color             : #ffffff;

.header {
  min-height: 720px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: rem(20);

  .header__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .header__right {
      display: flex;
      align-items: center;

      .header-menu__ul {
        display: flex;
        gap: 60px;
        margin-right: rem(60);

        li {
          a {
            color: $white-color;
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
        }
      }

      .header__social{
        display: flex;
        gap: 20px;
      }
    }
  }
}



.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, .575);
}

.overlay_active {
  display: block;
}

.locked {
  overflow: hidden;
}

@media screen and (max-width: 1368px) {
  .header {
    padding-top: 36px;

    .header__menu {
      .header__logo img {
        width: 106.01px;
      }

      .header__list {
        .topmenu {
          gap: 30px;

          li a {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      .header__phone {
        a {
          font-size: 14.23px;
          line-height: 20px;
        }
      }
    }
  }

  .header-menu__ul {
    gap: 30px;

    >li {
      >a {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

@media screen and (max-width: 960px) {}

@media screen and (max-width: 768px) {
  .header {
    padding-top: 30px;

    .header__menu {

      .menu__but-open.activeBut,
      .menu__but-close.activeBut {
        display: block;
      }


      .header__logo img {
        width: 100%;
      }

      .header__list {
        display: none;
      }

      .header__phone {
        a {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding-top: 18px;

    .header__menu {
      .menu__but-open {
        width: 31px;
      }

      .menu__but-open span,
      .menu__but-open span:after,
      .menu__but-open span:before {
        margin-top: -1px;
        width: 32px;
        height: 2px;
      }

      .menu__but-open span:before {
        transform: translateY(-7px);
      }

      .menu__but-open span:after {
        transform: translateY(10px);
      }

      .header__logo img {
        width: 84px;
      }

      .header__phone {
        display: none;
      }
    }
  }
}