.portfolio {

    .title {
        width: rem(400);
    }

    .portfolio__tegs {
        display: flex;
        justify-content: space-between;
    }

    .tegs {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 24px 40px;
        width: rem(1000);

        a {
            color: #999;
            font-weight: 500;
            transition: all 0.2s ease-in;
            cursor: pointer;

            &:hover {
                color: $orange-color;
            }

            &:active {
                color: $orange-color;
            }
        }

        a.active {
            color: $orange-color;
        }
    }

    .portfolio__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px 40px;
        padding: 100px 0 60px 0;

        .portfolio__content__item {
            width: 48.5%;

            .item__name {
                display: block;
                font-size: 32px;
                line-height: 39px;
                padding: 40px 0;
                width: 460px;
            }

            .item__tegs {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;

                span {
                    color: #999;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 20px;
                }
            }
        }
    }

}

@media screen and (max-width: 1368px) {}

@media screen and (max-width: 768px) {
    .portfolio {

        .title,
        .tegs {
            width: auto;
        }

        .portfolio__tegs {
            flex-direction: column;
        }

        .tegs {
            gap: 20px;
            justify-content: flex-start;
        }

        .portfolio__content {
            padding: 40px 0 60px 0;

            .portfolio__content__item {
                width: 100%;

                .item__name {
                    width: auto;
                    font-size: 24px;
                    line-height: 28px;
                    padding: 20px 0;
                }

                .item__tegs {
                    gap: 20px;

                    span {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .portfolio {
        .tegs {
            gap: 10px;
        }

        .portfolio__content {

            .portfolio__content__item {
                .item__tegs {
                    gap: 10px;
                }
            }
        }
    }
}


.anima {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

.hide {
    animation-name: hide;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    0% {
        visibility: visible;
        height: 200px;
    }

    100% {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        font-size: 0;
        margin: 0;
    }
}
