.service {
    .title {
        color: $orange-color;
        padding-bottom: 40px;
    }

    .service__content {
        width: 1114px;
        margin: 0 auto;
        padding-bottom: 100px;

        p {
            &:not(:last-child) {
                padding-bottom: 20px;
            }
        }

        img {
            margin: 60px 0;
        }
    }
}

.services__inner {
    width: 1114px;
    margin: 0 auto;
    background: $white-color;

    .swiper-button-prev {
        right: 10%;
    }

    .services__dop {
        .services__item {
            border: 1px solid #D9D9D9;
            min-height: 404px;
            padding: 60px 40px;
        }
    }
}

.distribution {
    padding-top: 3.8rem;
    padding-bottom: 110px;
    overflow: hidden;
    width: 1114px;
    margin: 0 auto;

    .title {
    }

    .distribution__content--info {
    }

    ul {
        list-style: none;
        padding: 0;

        .inner {
            overflow: hidden;
            display: none;
            padding: 0 0 16px 27px;

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #090230;
                opacity: 0.9;
                border: none;
            }
        }

        li {
            background: #FFFFFF;
            border: 1px solid rgba(109, 133, 255, 0.2);
            border-radius: 10px;
            margin-bottom: 20px;

            a.toggle {
                font-size: 22px;
                font-weight: 500;
                line-height: 27px;
                color: #090230;
                width: 100%;
                display: block;
                padding: 30px 23px 30px 27px;
                transition: all 0.3s ease;

                &::before {
                    content: "+";
                    font-weight: 400;
                    font-size: 40px;
                    vertical-align: bottom;
                    float: right;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: rotate(0deg);
                    transition: transform .2s;
                    color: #090230;
                }

                &:hover {
                    color: #6D85FF;

                    &::before {
                        color: #6D85FF;
                    }
                }
            }

            a.toggle.active::before {
                content: '-';
                transform: rotate(-180deg);
            }
        }
    }
}