.home__content {
  min-height: 720px;
  overflow: hidden;
  width: 100%;

  .home__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-image: url('/content/themes/gulp-theme/assets/img/bg_home.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .home__content--text {
    padding-top: 372px;

    .title {
      color: $white-color;
      font-size: 96px;
      line-height: 86.4px;
      width: 830px;
    }

    .subtitle {
      width: 547px;

      p {
        color: $white-color;
        line-height: 19.2px;

        &:not(:last-child) {
          padding-bottom: rem(20);
        }
      }
    }
  }

  .btn-down {
    display: none;
    position: relative;
    z-index: 2;
    background: transparent;
  }

}


.projects {
  padding: 80px 0 60px 0;
  position: relative;

  .projects__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  .projects__content {
    .swiper-containter {
      margin: 0 auto;
    }

    .swiper-slide {
      //width: 533px;
    }

    .scrollbar {
      margin-top: 60px;

      .swiper-scrollbar {
        height: 2px;
        position: relative;
        width: 100%;
      }
    }

    .swiper-scrollbar-drag {
      background: $orange-color;
    }

    .projects__content__item {
      position: relative;
      height: 795px;
      //width: 533px;
      flex-shrink: 0;
      background-color: #F7F7F7;
      border-radius: 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;

      img.wp-post-image {
        position: absolute;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      .item__content {
        padding: 0 40px 40px 40px;
        position: absolute;
        bottom: 0;
        z-index: 2;
        display: flex;
        align-items: flex-start;

        .project__title {
          font-size: 32px;
          font-weight: 700;
          color: $orange-color;
          padding-bottom: 20px;
          line-height: 32px;
        }

        .project__desk {
          font-size: 20px;
        }

        img.arrow-more {
          opacity: 0;
          transition: all 0.2s ease;
        }
      }

      &:hover {
        img.arrow-more {
          opacity: 1;
        }
      }
    }
  }

  .button {
    img {
      margin-left: rem(20);
    }
  }
}

.aboutus {
  position: relative;
  min-height: 603px;
  overflow: hidden;

  .aboutus__bg {
    background-image: url('/content/themes/gulp-theme/assets/img/about-bg.png');
  }

  .aboutus__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  .aboutus__desk {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;

    .title {
      width: 1114px;
      color: $white-color;
      padding: 60px 0 40px 0;
    }

    .subtitle {
      width: 546px;
      color: $white-color;
      line-height: 22.4px;
    }
  }
}

.services {
  padding-top: 45px;
  background-color: #F7F7F7;

  .services__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 15px;
    width: 64px;
    height: 64px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: none;
  }

  .swiper-button-next {
    background-image: url('/content/themes/gulp-theme/assets/img/icons/right_arrow_filled_white.svg');
    right: 0;
  }

  .swiper-button-prev {
    background-image: url('/content/themes/gulp-theme/assets/img/icons/left_arrow_filled_white.svg');
    right: 6%;
    left: auto;
  }

  .scrollbar {
    .swiper-scrollbar {
      display: none;
      position: relative;
      width: 100%;

      .swiper-scrollbar-drag {
        background: $orange-color;
      }
    }
  }

  .services__content {
    padding: 27px 0 60px 0;

    .services__item {
      //width: 533.333px;
      min-height: 505px;
      flex-shrink: 0;
      border-radius: 20px;
      background: #FFF;
      padding: 60px 40px 40px 40px;
      display: flex;
      flex-direction: column;
      transition: all .2s ease;

      &:hover {
        box-shadow: 4px 4px 14.3px 0px rgba(50, 50, 50, 0.10);
      }

      .title {
        font-size: 32px;
        color: $orange-color;
        padding-bottom: 40px;
      }

      .text {
        p {
          &:not(:last-child) {
            padding-bottom: 20px;
          }
        }
      }

      .button-more {
        display: inline-block;
        font-size: 24px;
        line-height: 24px;
        margin-top: auto;

        img {
          margin-left: 20px;
        }
      }
    }
  }
}

.clients {
  padding: 100px 0 30px 0;

  .title {
    text-align: center;
    padding-bottom: 40px;
  }

  .clients__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 38px;
    padding: 30px 0 5px 0;

    .logo__item {
      width: 300px;
      //height: 70px;
      text-align: center;
      //margin: 0 20px 66px 20px;
      margin-bottom: 80px;

      // &:nth-last-child(-n+3) {
      //   margin-bottom: 0;
      // }

      img {
        object-fit: scale-down;
        transition: 0.3s;
      }
    }
  }
}

.gallery {
  background: #F7F7F7;
  padding: 60px 0;

  .desk {
    padding: 20px 0 40px 0;
    width: 611px;
  }

  .gallery__content {
    .gallery__content__item {
      img {
        // width: 1113px;
        // height: 640px;
        // object-fit: contain;
      }
    }

    .scrollbar {
      margin-top: 60px;

      .swiper-scrollbar{
        position: relative;
        width: 100%;
      }
    }

    .swiper-scrollbar-drag {
      background: $orange-color;
    }
  }
}

.reviews {
  padding-top: 45px;

  .reviews__title {
    position: relative;
    display: flex;
    justify-content: space-between;
    user-select: none;

    .title {
      padding-bottom: 0;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 15px;
    width: 64px;
    height: 64px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: none;
  }

  .swiper-button-next {
    background-image: url('/content/themes/gulp-theme/assets/img/icons/right_arrow_filled_white.svg');
    right: 0;
  }

  .swiper-button-prev {
    background-image: url('/content/themes/gulp-theme/assets/img/icons/left_arrow_filled_white.svg');
    right: 6%;
    left: auto;
  }

  .scrollbar {
    .swiper-scrollbar {
      display: none;

      .swiper-scrollbar-drag {
        background: $orange-color;
      }
    }
  }

  .reviews__content {
    padding: 40px 0 60px 0;

    .reviews__item {
      //width: 533.333px;
      //min-height: 505px;
      flex-shrink: 0;
      border: 1px solid #D9D9D9;
      border-radius: 20px;
      padding: 60px 40px 60px 40px;
      display: flex;
      flex-direction: column;
      transition: all .2s ease;

      .reviews__logo {
        width: 142px;
      }

      .title {
        font-size: 32px;
        line-height: 32px;
        color: $default-color;
        padding: 40px 0 20px 0;
      }

      .text {
        p {
          &:not(:last-child) {
            padding-bottom: 20px;
          }
        }
      }

      .founder {
        display: flex;
        align-items: center;
        gap: 24px;
        padding-top: 40px;

        img {
          border-radius: 42px;
        }

        .founder__info {
          .founder__info--name {
            color: $default-color;
            font-size: 24px;
            line-height: 24px;
            padding-bottom: 12px;
          }

          .founder__info--job {
            color: #999;
            font-size: 20px;
          }
        }
      }

    }
  }
}

.rating {
  background-color: $orange-color;
  padding: 24px 0;
  color: $white-color;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;

  .rating__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .rew {
    span {
      text-decoration: underline;
    }
  }
}

.connect {
  background: #323232;
  padding: 100px 0;

  .connect__form {
    display: flex;
    justify-content: space-around;

    .form__text {
      width: rem(688);

      .title {
        color: $orange-color;
        font-size: 48px;
        line-height: 48px;
        padding-bottom: 40px;
      }

      .subtitle {
        color: $white-color;
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 40px;
      }

      .btn__dowlonds {
        display: flex;
        gap: 20px;

        a {
          display: inline-block;
          border-radius: 12px;
          border: 1px solid #D9D9D9;
          background: transparent;
          font-size: 20px;
          color: $white-color;
          padding: 24px 0;
          width: 273px;
          text-align: center;
          transition: all 0.3s ease;

          &:hover {
            background: $white-color;
            color: $default-color;
          }
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: rem(546);

      input[type="text"] {
        margin-bottom: 1.875rem;
      }

      label {
        color: $white-color;
        font-size: 20px;
        padding-bottom: 20px;
      }

      input[type="text"],
      input[type="tel"] {
        background: transparent;
        border-bottom: 1px solid rgba(217, 217, 217, 0.25);
        padding-bottom: 12px;
        font-size: 24px;
        color: $white-color;

        &::placeholder {
          color: #999;
          font-size: 24px;
          line-height: 20px;
        }
      }

      .button {
        margin-top: 60px;
        width: fit-content;
      }
    }
  }
}

.error-page {
  padding: 100px 0 170px 0;

  .error-page__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      padding: 60px 0 20px 0;
      text-align: center;
    }

    .not-found {
      font-size: 20px;
      padding-bottom: 60px;
    }
  }
}

/* 961 - 1368 px */
@media screen and (max-width: 1368px) {}


@media screen and (max-width: 768px) {
  .home__content {
    min-height: 740px;

    .home__bg {
      background-image: url('/content/themes/gulp-theme/assets/img/bg_home_tab.png');
    }

    .home__content--text {
      padding-top: 436px;

      .title {
        width: 457px;
        font-size: 48px;
        line-height: 43px;
      }

      .subtitle {
        width: 398px;

        p {
          font-size: 14px;
        }
      }
    }

    .btn-down {
      display: block;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  .projects {
    padding: 60px 0 155px 0;

    .projects__title {
      margin-bottom: 0;
    }

    .button {
      position: absolute;
      bottom: 60px;
    }

    .projects__content {
      .projects__content__item {
        height: 480px;
      }
    }
  }

  .aboutus {
    min-height: 620px;

    .aboutus__bg {
      background-image: url('/content/themes/gulp-theme/assets/img/about-bg-mob.png');
    }

    .aboutus__desk {
      padding-top: 60px;

      img {
        width: 138.979px;
      }

      .title {
        width: 576px;
        padding: 40px 0 20px 0;
      }

      .subtitle {
        width: 458px;
        font-size: 14px;
        line-height: 19.6px;
      }
    }
  }

  .services {
    padding-top: 60px;

    .services__title {
      padding-bottom: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .scrollbar {
      margin-top: 40px;

      .swiper-scrollbar {
        display: block;
      }
    }

    .services__content {
      padding-bottom: 40px;

      .services__item {
        padding: 40px 24px;
        min-height: 423px;

        .title {
          font-size: 24px;
          line-height: 24px;
          padding-bottom: 12px;
        }

        .text {
          font-size: 14px;
          line-height: 19.6px;

          p {
            &:not(:last-child) {
              padding-bottom: 15px;
            }
          }
        }

        .button-more {
          font-size: 20px;
          line-height: 20px;
        }
      }
    }
  }

  .clients {
    padding: 60px 0 40px 0;

    .clients__logo {
      justify-content: space-around;
      padding-top: 0;
      gap: 40px;

      .logo__item {
        width: 152px;
        margin-bottom: 0;
      }
    }
  }

  .gallery {
    padding: 60px 0 40px 0;

    .title {
      padding-bottom: 0;
    }

    .desk {
      padding-bottom: 20px;
    }

    .gallery__content {
      .scrollbar {
        margin-top: 40px;

        .swiper-scrollbar {
          height: 1px;
        }
      }
    }
  }

  .reviews {
    padding: 60px 0;

    .reviews__title {
      padding-bottom: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .scrollbar {
      margin-top: 40px;

      .swiper-scrollbar {
        display: block;
      }
    }

    .reviews__content {
      .reviews__item {
        min-height: 426px;
        padding: 40px 24px;

        .title {
          padding: 40px 0 36px 0;
          font-size: 24px;
          line-height: 24px;
        }

        .text {
          font-size: 14px;
          line-height: 19.6px;

          p {
            &:not(:last-child) {
              padding-bottom: 15px;
            }
          }
        }

        .founder {
          gap: 10px;

          img {
            width: 42px;
            height: 42px;
          }

          .founder__info {
            .founder__info--name {
              font-size: 16px;
              line-height: 16px;
              padding-bottom: 8px;
            }

            .founder__info--job {
              font-size: 14px;
              line-height: 14px;
              font-weight: 300;
            }
          }
        }
      }
    }
  }

  .rating {
    padding: 20px 0;

    .rating__text {
      justify-content: center;
      text-align: center;
      gap: 13px;

      .balls {
        font-size: 20px;
        line-height: 20px;
      }

      .rew {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .connect {
    padding: 60px 0;

    .connect__form {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;

      .form__text {
        width: 100%;

        .title {
          font-size: 32px;
          line-height: 32px;
          width: 576px;
          margin: 0 auto;
          text-align: center;
          padding-bottom: 20px;
        }

        .subtitle {
          font-size: 16px;
          line-height: 19.2px;
          width: 458px;
          margin: 0 auto;
          text-align: center;
        }

        .btn__dowlonds {
          flex-direction: column;
          align-items: center;
          gap: 33px;

          a {
            width: 338px;
          }
        }
      }

      .form {
        width: rem(338);

        label {
          font-size: 16px;
        }

        input[type="text"] {
          margin-bottom: rem(40);
        }

        input[type="text"],
        input[type="tel"] {
          padding-bottom: 8px;
          font-size: 20px;
          width: 100%;

          &::placeholder {
            font-size: 20px;
          }
        }

        .button {
          margin-top: 40px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width:480px) {
  .home__content {
    min-height: 812px;

    .home__bg {
      background-image: url('/content/themes/gulp-theme/assets/img/bg_home_mob.png');
    }

    .home__content--text {
      padding-top: 431px;

      .title {
        width: 335px;
        padding-bottom: 20px;
      }

      .subtitle {
        width: 335px;
      }
    }
  }

  .aboutus {
    .aboutus__desk {

      .title,
      .subtitle {
        width: auto;
      }
    }
  }

  .projects {
    .projects__content {
      .scrollbar {
        margin-top: 40px;
      }
    }

    .button {
      width: 90%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .clients {
    .clients__logo {
      .logo__item {
        width: 85px;
      }
    }
  }

  .gallery {
    .desk {
      width: 100%;
    }
  }

  .reviews .reviews__content .reviews__item {
    .title {
      padding: 40px 0 12px 0;
    }

    .founder {
      padding-top: 20px;
    }
  }

  .connect {
    .connect__form {
      .form__text {
        .title {
          width: 100%;
        }

        .subtitle {
          width: 100%;
        }

        .btn__dowlonds {
          a {
            width: 100%;
          }
        }
      }

      .form {
        width: 100%;
      }
    }
  }

  .error-page {
    .error-page__content {

      .smile {
        width: 80px;
      }

      .error {
        width: 217px;
      }

      .title {
        font-size: 24px;
        padding: 40px 0 12px 0;
      }

      .not-found {
        font-size: 16px;
        padding-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width:360px) {
  .home__content {
    .home__content--text {

      .title,
      .subtitle {
        width: auto;
      }

      .title {
        font-size: 42px;
      }
    }
  }

  .gallery {
    .title {
      font-size: 28px;
    }
  }
}



/* .swiper-containter {
  //overflow-x: hidden;
}

.swiper-wrapper {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding: 35px 0 40px 0;
}

.swiper-wrapper {
  display: flex;
  align-items: flex-end;
}

.swiper-slide {
  display: flex;
  align-items: flex-end;
  width: auto;
  margin-right: 8px;

  img {
    max-width: 780px;
    max-height: 655px;
  }
} */